@import "../Card/Variables.scss";

.atole {
  display: inline-block;
//   width: 100%;
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;
  font-size: 12px;
}

.title {
  font-weight: bold;
  padding: 5px 0;
  width: 200px;
  color: $red;
  border-radius: 10px;
  background-color: $yellow;
  text-align: center;
}

.Button {
  position: absolute;
  visibility: hidden;
  display: none;
}

.fondo {
  padding: 6px 10px;
  color: $letra;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}

.Fresa {
  color: lighten($red, 60%);
  background: $fresa;
  border-radius: 10px;
}

.Cajeta {
  color: lighten($red, 60%);
  background: $cajeta;
  border-radius: 10px;
}

.Chocolate {
  color: lighten($red, 60%);
  background: $chocolate;
  border-radius: 10px;
}
