@import "../Card/Variables.scss";

#siAtole{
    padding: 2px 0px;
    cursor: pointer;
    margin:0 0 20px 0;
}

#textSiAtole{
    font-size: 14px;
    color:$red;
    width: 100%;
    font-weight: bold;
    
}