@import "../Variables.scss";

.button{
    font-size: 12px;
    cursor: pointer;
    background-color: white;
    border: 2px solid $walmart;
    
    padding: 8px 50px;
    margin:15px;
    align-items: center;

    text-decoration: none;
    color:$negro;
    font-weight: bold;
}