@import "../Variables.scss";

.button{
    font-size: 12px;
    cursor: pointer;
    background-color: $yellow;
    border-radius: 15px;
    
    padding: 8px 15px;
    margin:10% 20px;

    text-decoration: none;
    color:$negro;
    font-weight: bold;
}