$red: #8F4521;
$fg: lighten($red,20%);
$yellow:#5fb941;
$fondo:#5B5C8F;
$blanco:rgb(255, 255, 255);
$sombra:rgba(0, 0, 0, 0.3);
$negro:#000;
$letra:#3235DB;
$green:#5fb941;
$cajeta:#8b5a3d;
$fresa:#d53032;
$chocolate:#503130;