$red: #8F4521;
$fg: lighten($red,20%);
$yellow:#5fb941;
$fondo:#c2c3e5;
$blanco:rgb(255, 255, 255);
$sombra:rgba(0, 0, 0, 0.3);
$negro:#000;
$letra:#3235DB;
$green:#5fb941;
$cajeta:#9e903f;
$fresa:#d53032;
$chocolate:#503130;
$walmart: #0176d5;