@import "../Variables.scss";

.bar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: $blanco;
  border-radius: 5px;
  width: 70%;
  height: 50px;
}

.iconSearch {
  font-family: "Material Icons";
  font-size: 24px;
  float: left;
  padding-right: 10px;

}

.box {
  border: none;
  font-weight: normal;
  font-style: normal;
  background: none;
  color: $negro;
  font-size: 16px;
  outline: inherit;
  width: 15rem;
  text-align:left;
}

