@import "../Variables.scss";

.button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
  color: $negro;
  &:hover{
    color: rgba(0, 0, 0, 0.54);

  }
}

.header{
  display: flex;
  justify-content: space-around;
  color:$negro;
}

.cantidad{
  font-size: 12px;
  color: $negro;
}

.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

.contador{
  position: absolute;
  top:10px;
  left: 10px;
  font-size: 12px;
  padding: 0 5px;
  background-color: $amarillo;
  border-radius: 50px;
  
  
}

.materialIcons {
  text-decoration: none;
  font-family: "Material Icons";
  font-weight: normal;
  z-index: 10;
  font-style: normal;
  font-size: 20px; /* Preferred icon size */
  display: inline-block;
  // line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: $negro;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}


.texto{
  color: $negro;
  width: 12rem;
}

